* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #10002B;
  color: #EADDFF;
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

h1#title {
  margin-top: 3rem;
  font-size: clamp(2.2rem, 12vw, 4rem);
  font-family: 'Bitter', serif;
}

h1#category-display {
  margin-top: 1rem;
  color: #e0aaff;
  font-size: 1.5rem;
  font-family: 'Bitter', serif;
}

h1#category-display i {
  font-size: 1.3rem;
  margin: 0 10px;
}

h2#trivia-question {
  text-align: center;
  color: #EADDFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 1400px;
  max-height: 85px;
  margin: auto;
  font-size: 2.2rem;
  font-family: 'Libre Franklin', sans-serif;
}

div#titleScreen {
  padding: 1rem;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  div#titleScreen h1 {
    margin-top: 4.5rem;
  }
  div#titleScreen div#form-container div.mb-4 {
    margin-bottom: 2rem !important;
  }
  div#titleScreen div#form-container label {
    font-size: 1.2rem;
  }
  div#titleScreen div#form-container input, div#titleScreen div#form-container select {
    height: 3.2rem;
    font-size: 1.2rem;
  }
  div#titleScreen div#btn-container {
    margin-top: 8rem;
  }
  div#titleScreen div#btn-container button {
    padding: 0.8rem 6.5rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 420px) {
  div#titleScreen div#form-container label {
    font-size: 1rem;
  }
  div#titleScreen div#form-container input, div#titleScreen div#form-container select {
    height: 3rem;
    font-size: 1rem;
  }
}

@media screen and (max-height: 900px) {
  div#titleScreen h1 {
    margin-top: 4rem;
  }
  div#titleScreen div#form-container {
    margin-top: 8rem;
  }
  div#titleScreen div#btn-container {
    margin-top: 9rem;
  }
}

@media screen and (max-height: 800px) {
  div#titleScreen {
    height: 100%;
  }
  div#titleScreen h1 {
    margin-top: 4rem;
  }
  div#titleScreen div#form-container {
    margin-top: 6rem;
  }
  div#titleScreen div#btn-container {
    margin-top: 5.5rem;
  }
  div#titleScreen div#btn-container button {
    margin-bottom: 1rem;
  }
}

@media screen and (max-height: 670px) {
  div#titleScreen h1 {
    margin-top: 2rem;
  }
  div#titleScreen div#form-container {
    margin-top: 4rem;
  }
  div#titleScreen div#btn-container {
    margin-top: 4.5rem;
  }
  div#titleScreen div#btn-container button {
    margin-bottom: 2rem;
  }
}

div#triviaScreen {
  overflow-y: hidden;
  min-height: 710px;
  display: none;
}

div#triviaScreen div#triviaScreen-div {
  display: none;
}

@media screen and (max-height: 720px) {
  div#triviaScreen {
    overflow-y: auto;
  }
}

@media screen and (max-width: 1450px) {
  div#triviaScreen h2#trivia-question {
    font-size: 2rem;
    max-width: 1150px;
  }
}

@media screen and (max-width: 1200px) {
  div#triviaScreen h2#trivia-question {
    font-size: 1.8rem;
    max-width: 960px;
  }
}

@media screen and (max-width: 1000px) {
  div#triviaScreen h2#trivia-question {
    font-size: 1.65rem;
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  div#triviaScreen {
    min-height: 680px;
  }
  div#triviaScreen h1#category-display {
    font-size: 1.3rem;
  }
  div#triviaScreen h1#category-display i {
    font-size: 1.2rem;
  }
  div#triviaScreen h2#trivia-question {
    font-size: 1.55rem;
    max-width: 540px;
  }
  div#triviaScreen div.stats-div span {
    font-size: 1.4rem;
  }
  div#triviaScreen div.stats-div i {
    font-size: 1.2rem;
  }
  div#triviaScreen div.question {
    margin: 8px 0;
  }
  div#triviaScreen div.trivia-div {
    margin-top: 5.4rem;
  }
}

@media screen and (max-width: 568px) {
  div#triviaScreen h1#category-display {
    font-size: 1.1rem;
  }
  div#triviaScreen h1#category-display i {
    font-size: 1rem;
  }
  div#triviaScreen h2#trivia-question {
    max-width: 420px;
  }
  div#triviaScreen div.stats-div span {
    font-size: 1.3rem;
  }
  div#triviaScreen div.stats-div i {
    font-size: 1.1rem;
  }
  div#triviaScreen div.questions-div {
    max-width: 420px;
  }
  div#triviaScreen div.question {
    margin: 6px 0;
    font-size: 1.2rem;
    padding: 16px 0;
  }
}

@media screen and (max-width: 480px) {
  div#triviaScreen {
    min-height: 450px;
  }
  div#triviaScreen h1#category-display {
    font-size: 0.9rem;
  }
  div#triviaScreen h1#category-display i {
    font-size: 0.8rem;
    margin: 0 5px;
  }
  div#triviaScreen h2#trivia-question {
    font-size: 1.4rem;
    max-width: 360px;
  }
  div#triviaScreen div.stats-div span {
    font-size: 1.1rem;
  }
  div#triviaScreen div.stats-div i {
    font-size: 0.9rem;
  }
  div#triviaScreen div.questions-div {
    max-width: 360px;
    margin-top: 5rem;
  }
  div#triviaScreen div.question {
    font-size: 1.2rem;
    padding: 12px 0;
    margin: 5px 0;
  }
}

@media screen and (max-width: 360px) {
  div#triviaScreen {
    min-height: 430px;
  }
  div#triviaScreen h1#category-display {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }
  div#triviaScreen h2#trivia-question {
    font-size: 1rem;
  }
  div#triviaScreen div.stats-div span {
    font-size: 0.9rem;
  }
  div#triviaScreen div.stats-div i {
    font-size: 0.7rem;
  }
  div#triviaScreen div.question {
    padding: 10px;
    margin: 4px 0;
    font-size: 0.9rem;
  }
}

div.stats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d080ff;
}

div.stats-div div {
  margin: 0 10px;
}

div.stats-div div span {
  font-size: 1.6rem;
}

div.stats-div div i {
  margin: 0 8px;
  font-size: 1.4rem;
}

div.trivia-div {
  margin-top: 7rem;
}

div.trivia-div div.questions-div {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

div.trivia-div div.questions-div div.question {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  margin: 12px 0;
  text-align: center;
  padding: 18px 0;
  overflow: hidden;
  overflow-wrap: break-word;
  background-color: rgba(128, 71, 226, 0.2);
  color: #eaddff;
  border-radius: 0.4rem;
  -webkit-transition: background-color 0.06s, -webkit-transform 0.2s;
  transition: background-color 0.06s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.06s;
  transition: transform 0.2s, background-color 0.06s, -webkit-transform 0.2s;
  font-size: 1.4rem;
  font-family: 'League Spartan', sans-serif;
}

div.trivia-div div.questions-div div.question:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

div#form-container {
  margin-top: 7.5rem;
}

div#form-container label {
  color: #ffffffe1;
}

div#form-container input, div#form-container select {
  background-color: #ffffffe1;
}

div#btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8rem;
}

div#btn-container button#btn-start {
  background-color: #10002B;
  color: #b24dff;
  border: 2px solid #b24dff;
  border-radius: 0.3rem;
  padding: 9px 70px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.55rem;
  font-family: 'League Spartan', sans-serif;
}

div#btn-container button#btn-start:hover {
  background-color: #b24dff;
  color: #10002B;
}
/*# sourceMappingURL=style.css.map */